h1, h2, h3, h4, h5, h6, .logo {
  font-family: 'Fraunces', serif; }

p {
  font-family: 'Barlow', sans-serif;
  line-height: 1.5; }

h1 {
  font-size: 10vw;
  text-transform: uppercase;
  width: 100%; }

h2 {
  font-size: 32px;
  margin-bottom: 30px; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none; }

.desktop,
.hidden {
  display: none; }

img {
  width: 100%; }

section {
  width: 100%; }
  section div.container {
    position: relative;
    height: inherit;
    margin: 0 24px; }

section:nth-of-type(1) {
  background-image: url("../images/mobile/image-header.jpg");
  height: 80vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%; }
  section:nth-of-type(1) nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center; }

div.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; }
  div.hero-section div.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 50px; }
    div.hero-section div.hero span {
      font-size: 30vw; }

article .article-section {
  padding: 100px 0; }
  article .article-section p {
    margin-bottom: 30px; }
  article .article-section .learn-more-button {
    position: relative;
    font-family: 'Fraunces';
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  article .article-section .learn-more-button::after {
    content: "";
    position: absolute;
    z-index: -1;
    align-self: flex-end;
    height: 10px;
    width: 150px;
    border-radius: 20px;
    background-color: rgba(250, 212, 0, 0.3);
    bottom: -3px; }
  article .article-section .pink::after {
    background-color: rgba(254, 120, 103, 0.3); }

.feature {
  height: 800px;
  background-repeat: none;
  background-size: cover;
  background-position: center top; }

.feature:first-of-type {
  background-image: url("../images/mobile/image-graphic-design.jpg"); }

.feature:last-of-type {
  background-image: url("../images/mobile/image-photography.jpg"); }

.feature__content {
  position: absolute;
  bottom: 0;
  margin-bottom: 100px; }

.testimonials h3 {
  margin: 100px auto;
  text-transform: uppercase; }

.testimonial__portrait {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 100px auto 50px auto; }

.testimonial__content {
  margin-bottom: 20px; }

.position {
  margin-bottom: 50px; }

.grid {
  display: grid;
  grid-template-columns: 50% 50%; }

.grid img {
  height: 100%; }

footer {
  background-color: rgba(69, 140, 126, 0.5); }

.logo {
  display: block;
  padding: 50px 0;
  font-size: 2em;
  color: #25564b; }

.sitemap {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px; }

.social-media {
  display: flex;
  justify-content: center;
  padding-bottom: 50px; }
  .social-media .icon {
    display: block;
    width: 25px;
    margin-right: 25px; }
