h1,h2,h3,h4,h5,h6,.logo,.name{
    font-family: 'Fraunces', serif;
}
p{
    font-family: 'Barlow', sans-serif;
    line-height: 1.5;
}
h1 {
    font-size: 40px;
    text-transform: uppercase;
    width: 100%;
    letter-spacing: 7px;

}
h2{
    font-size: 32px;
    margin-bottom: 30px;
}
@media screen and (min-width:1024px){
    h1{
        font-size: 50px;
    }
}
